@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}
